.contentSide {
  margin-left: 200px;
}

.povOver {
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
  &:hover {
    background-color: #e7e7e7;
  }
}

.ant-menu-title-content {
  color: #fff;
}

.ant-menu-submenu-arrow {
  color: #fff !important;
}

.ant-menu-item-selected {
  background-color: transparent !important;
}

@media (max-width: 991px) {
  .contentSide {
    margin-left: 0;
  }
}
